* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

.nav1 {
    background: rgb(204, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 25px;
    padding-top: 10px;
}

.right-side, .left-side {
    list-style-type: none;
}

.right-side {
    padding-right: 10px;
}

.right-side li, .left-side li {
    display: inline-block;
}

.right-side li a, .left-side li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.right-side li a {
    margin-left: 32px;
    
}
.right-side li a:hover {
    text-decoration: 2px solid white;
}

.left-side svg {
    fill: white;
    margin-left: 32px;
}

.nav2 {
    background: white;
    display: flex;
    justify-content: space-between;
}

.right-2, .left-2 {
    list-style-type: none;
}

.right-2 li, .left-2 li {
    display: inline-block;
}

.right-2 li a, .left-2 li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 32px;
}

.right-2 {
   position: relative;
}

.left-2 svg {
    fill: rgb(204, 0, 0);
    margin-left: 32px;
    width: 24px;
}

#signin img{
    width: 24px;
    margin-left: 8px;
}

#butn {
    font-size: 22px;
    font-weight: 400;
    height: 30px;
    text-align: center;
    margin: 20px;
    border-radius: 3px;

}


.main-container {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#BF {
    color: aqua;
    border-radius: 25px;
    font-size: 72px;
    height: 237px;
    font-weight: 700px;
}

.score > h1 {
    font-size: 72px;
    font-weight: 700;
}

.score, h2 {
    margin-top: 10px;
}


.price-match {
    background-color: aqua;
    width: 800px;
    padding: 15px 25px 15px 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: black;
    justify-content: space-around left;
    margin-left: 125px;
    margin-top: 30px;

}

main {
    background: black;
    background-position: center;
    margin-left: 25px;
    width: 95%;
    
}

#BFTP {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    color: white;
    width: 200px;
    margin-top: 50px;
    margin-right: 15px;
    background-color: black;
}



.Top-Picks {
    text-align: center;
}

.Top-Picks div {
    background-color: black;
    display: inline-block;
    margin-right: 2px;
    margin-top: 20px;
    margin-bottom: 20xpx;
    padding: 0 100px 0 15px;
}

.Top-Picks div a {
    text-decoration: none;
    color: red;
}

img {
    width: 100px;
}
.products {
    display: inline-block;
    background: black;
    
}
.products div {
    background-color: white;
    margin: 3px;
    padding: 3px 15px 0 15px;
    display: inline-block;
    margin-bottom: 20px;
}







